*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #1d1d1d;
}
#h1Title {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Ubuntu Mono', monospace;
}

#divListMain {
    width: 400px;
    height: 600px;
    background-color: #e6e6e6;
}

p {
    font-family: 'Ubuntu Mono' , monospace;
    font-size: 20px;
    margin: 0;
}

input{
    width: 20px;
    height: 20px;
}